In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2020-07-08 14:30:13,-46.60,168.33,39.00,83,98,3.00
1,1,Jamestown,US,2020-07-08 14:28:12,42.10,-79.24,82.99,73,1,5.82
2,2,Busselton,AU,2020-07-08 14:30:05,-33.65,115.33,46.99,87,12,6.98
3,3,Broome,US,2020-07-08 14:31:57,42.25,-75.83,78.01,88,90,3.36
4,4,Visnes,NO,2020-07-08 14:30:05,59.36,5.22,57.20,62,40,17.22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Jamestown,US,2020-07-08 14:28:12,42.10,-79.24,82.99,73,1,5.82
3,3,Broome,US,2020-07-08 14:31:57,42.25,-75.83,78.01,88,90,3.36
8,8,Kavieng,PG,2020-07-08 14:30:07,-2.57,150.80,82.15,79,98,13.33
10,10,Atuona,PF,2020-07-08 14:30:09,-9.80,-139.03,79.39,75,6,12.55
12,12,Ponta Do Sol,PT,2020-07-08 14:30:12,32.67,-17.10,75.00,69,0,1.21
15,15,Touros,BR,2020-07-08 14:25:51,-5.20,-35.46,82.40,65,40,12.75
25,25,Maceio,BR,2020-07-08 14:31:01,-9.67,-35.74,78.80,78,75,8.05
29,29,San Giustino,IT,2020-07-08 14:31:59,43.55,12.17,84.99,34,0,4.70
30,30,Buta,CD,2020-07-08 14:31:59,2.79,24.73,85.86,57,75,3.74
31,31,Atikokan,CA,2020-07-08 14:31:59,48.76,-91.62,78.60,46,100,11.61

In [34]:
preferred_cities_df.count()

City_ID       229
City          229
Country       227
Date          229
Lat           229
Lng           229
Max Temp      229
Humidity      229
Cloudiness    229
Wind Speed    229
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
1      Jamestown      US     82.99  42.10  -79.24
3         Broome      US     78.01  42.25  -75.83
8        Kavieng      PG     82.15  -2.57  150.80
10        Atuona      PF     79.39  -9.80 -139.03
12  Ponta Do Sol      PT     75.00  32.67  -17.10
15        Touros      BR     82.40  -5.20  -35.46
25        Maceio      BR     78.80  -9.67  -35.74
29  San Giustino      IT     84.99  43.55   12.17
30          Buta      CD     85.86   2.79   24.73
31      Atikokan      CA     78.60  48.76  -91.62

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Jamestown,US,82.99,42.10,-79.24,Hampton Inn & Suites Jamestown
3,Broome,US,78.01,42.25,-75.83,Chenango Valley State Park
8,Kavieng,PG,82.15,-2.57,150.80,Nusa Island Retreat
10,Atuona,PF,79.39,-9.80,-139.03,Villa Enata
12,Ponta Do Sol,PT,75.00,32.67,-17.10,Hotel do Campo
15,Touros,BR,82.40,-5.20,-35.46,INN NEW HORIZON
25,Maceio,BR,78.80,-9.67,-35.74,Mercure Maceio Pajucara Hotel
29,San Giustino,IT,84.99,43.55,12.17,ALBERGO FIORENTINO
30,Buta,CD,85.86,2.79,24.73,HOTEL BISO NA BISO
31,Atikokan,CA,78.60,48.76,-91.62,Camp Quetico

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))