In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
city_data_df = pd.read_csv("weather_data/WeatherPy_databse.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Ushuaia,AR,-54.80,-68.30,37.40,69,20,3.36,few clouds,0.00,0.0
1,1,Georgetown,MY,5.41,100.34,80.60,88,40,4.70,scattered clouds,0.00,0.0
2,2,Palmas Bellas,PA,9.23,-80.09,86.00,70,69,11.99,light rain,0.52,0.0
3,3,Ahipara,NZ,-35.17,173.17,50.52,79,65,2.01,broken clouds,0.00,0.0
4,4,Constitucion,CL,-35.33,-72.42,53.76,64,83,4.94,broken clouds,0.00,0.0

In [6]:
travel_cities = ["Vierzon","Saint-Orens-De-Gameville","Vila","Lata"]

In [7]:
city1_df = city_data_df.loc[(city_data_df["City"] == travel_cities[0])]
city1_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
305,305,Vierzon,FR,47.21,2.06,82.4,42,0,4.7,clear sky,0.0,0.0

In [8]:
city2_df = city_data_df.loc[(city_data_df["City"] == travel_cities[1])]
city2_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
245,245,Saint-Orens-De-Gameville,FR,43.55,1.53,86.0,37,39,4.7,scattered clouds,0.0,0.0

In [9]:
city3_df = city_data_df.loc[(city_data_df["City"] == travel_cities[2])]
city3_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
519,519,Vila,PT,42.03,-8.16,75.99,47,0,8.01,clear sky,0.0,0.0

In [10]:
city4_df = city_data_df.loc[(city_data_df["City"] == travel_cities[3])]
city4_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
386,386,Lata,PT,40.16,-8.33,73.99,70,0,3.0,clear sky,0.0,0.0

In [50]:
coor1 = city1_df.Lat.values[0],city1_df.Lng.values[0]
coor2 = city2_df.Lat.values[0],city2_df.Lng.values[0]
coor3 = city3_df.Lat.values[0],city3_df.Lng.values[0]
coor4 = city4_df.Lat.values[0],city4_df.Lng.values[0]
print(coor1, coor2, coor3, coor4)

(47.21, 2.06) (43.55, 1.53) (42.03, -8.16) (40.16, -8.33)

In [63]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
Vierzon = coor1
Saint_Orens_De_Gameville = coor2
Vila = coor3
Lata = coor4

fig = gmaps.figure()
Vierzon2Lata = gmaps.directions_layer(Vierzon, Lata, waypoints = [Saint_Orens_De_Gameville, Vila])
fig.add_layer(Vierzon2Lata)
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
travel_df = pd.read_csv("analysis/Four_cities.csv")
travel_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,305,Vierzon,FR,82.40,clear sky,47.21,2.06,Arche Hôtel Vierzon
1,245,Saint-Orens-De-Gameville,FR,86.00,scattered clouds,43.55,1.53,Appart'City Confort Toulouse Diagora Labège - ...
2,519,Vila,PT,75.99,clear sky,42.03,-8.16,Hotel Castrum Villae
3,386,Lata,PT,73.99,clear sky,40.16,-8.33,Casa Maquia

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in travel_df.iterrows()]

In [60]:
# Add a pop-up marker for each city.
locations = travel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))